<ion-content class="ion-padding float-btn">
  <div class="header">
    <div>
      <h1>My Delivery</h1>
      <h3 [innerHTML]="dateToday()"></h3>
    </div>

    <img src="assets/svg/undraw_drone_delivery_5vrm.svg" />
  </div>
  <form [formGroup]="form">
    <div class="section">
      <i
        class="icons-rounded warning"
        *ngIf="form.get('title').dirty && form.get('title').errors?.required"
      >
        error_outline
      </i>
      My Customer
    </div>

    <div class="control">
      <ion-input
        formControlName="title"
        placeholder="e.g. Makcik Kiah"
      ></ion-input>
    </div>

    <div class="section">Payment option</div>

    <div
      class="select"
      *ngFor="let method of methods"
      (click)="selectMethod(method)"
      [ngClass]="{ selected: selectedMethod === method }"
    >
      {{ method }}

      <i class="icons" [hidden]="selectedMethod !== method">
        check
      </i>
    </div>

    <div *ngIf="!form.get('note')">
      <div class="section">Payment</div>

      <div class="d-f ai-c jc-sb">
        <div class="label">
          <i
            class="icons-rounded warning"
            *ngIf="
              form.get('product').dirty && form.get('product').errors?.required
            "
          >
            error_outline
          </i>
          Product price (RM)
        </div>
        <div class="control short">
          <ion-input
            type="number"
            placeholder="25.00"
            formControlName="product"
          ></ion-input>
        </div>
      </div>
      <div class="d-f ai-c jc-sb" style="margin-top: 8px;">
        <div class="label">
          <i
            class="icons-rounded warning"
            *ngIf="
              form.get('delivery').dirty &&
              form.get('delivery').errors?.required
            "
          >
            error_outline
          </i>
          Delivery price (RM)
        </div>
        <div class="control short">
          <ion-input
            type="number"
            placeholder="2.50"
            formControlName="delivery"
          ></ion-input>
        </div>
      </div>

      <div class="prices">
        <div
          class="price"
          *ngFor="let price of prices"
          (click)="selectPrice(price)"
          [ngClass]="{ selected: price === selectedPrice }"
        >
          RM {{ price }}
        </div>
      </div>
    </div>
  </form>

  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    class="bg-white d-f fd-c"
  >
    <button
      class="w-100 btn-primary-outline ion-activatable"
      (click)="cancel()"
    >
      Cancel
      <ion-ripple-effect></ion-ripple-effect>
    </button>

    <button class="w-100 btn-primary ion-activatable" (click)="submit()">
      Submit
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </ion-fab>
</ion-content>
