<ion-content class="ion-padding">
  <div class="statistic">
    <div class="heading">
      <div class="payment">Payment</div>
      <div class="date">{{ todayDate() }}</div>
    </div>
    <div class="total">
      <div class="item">
        <div class="label">Orders</div>
        <div class="value">{{ formatPrice(product_total) }}</div>
      </div>
      <div class="item">
        <div class="label">Delivery</div>
        <div class="value">{{ formatPrice(delivery_total) }}</div>
      </div>
      <div class="item">
        <div class="label">Total</div>
        <div class="value">{{ formatPrice(total) }}</div>
      </div>
    </div>
  </div>

  <div class="records">
    <div class="daily" *ngFor="let record of records">
      <div class="subhead">{{ formatDate(record.date) }}</div>
      <div
        class="card"
        *ngFor="let payment of record.payments"
        (click)="editPayment(payment.id)"
      >
        <div class="title">{{ payment.title }}</div>
        <div class="misc">
          {{ payment.product? formatPrice(payment.total) : 'Bank In (Delivery
          fee: ' + formatPrice(payment.delivery) + ')'}}
        </div>
      </div>
    </div>
  </div>

  <ion-fab vertical="bottom" slot="fixed" class="d-f jc-fe">
    <button class="circle" (click)="addPayment()">
      <i class="icons-rounded">add</i>
      <ion-ripple-effect></ion-ripple-effect>
    </button>
  </ion-fab>
</ion-content>
