ion-content.float-btn {
  --padding-bottom: 93px;
}

ion-fab {
  bottom: 0;
  padding: 16px;
  left: 0;
  width: 100%;
  margin: unset;
  display: flex;

  &.bg-white {
    box-shadow: 0 -6px 24px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
}
